.ContainerLogin {
  display: flex;
  height: 900px;
}

.SectionUno {
  background-color: rgba(27, 76, 189, 0.898);
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.FormContainer {
  display: grid;
  width: 50%;
  margin: auto;
}
.FormContainer input {
  width: 50%;
  margin: 10px auto;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
}
.buttonInit {
  margin: 20px auto;
  background-color: rgba(124, 162, 250, 0.898);
  border: none;
  width: 52%;
  border-radius: 20px;
  cursor: pointer;
}
.buttonInit h3 {
  color: rgb(238, 238, 238);
}
.SectionDos {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.SectionDos .Logo {
  height: 100%;
}
